
.icon-mail:before { content: '\e800'; } /* '' */
.icon-delect:before { content: '\e801'; } /* '' */
.icon-date:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-trashcan:before { content: '\e804'; } /* '' */
.icon-mobile:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-line:before { content: '\e808'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-personal:before { content: '\e80c'; } /* '' */
.icon-invoice:before { content: '\e823'; } /* '' */
.icon-play:before { content: '\e824'; } /* '' */
.icon-medical:before { content: '\e825'; } /* '' */
.icon-car:before { content: '\e826'; } /* '' */
.icon-bag:before { content: '\e827'; } /* '' */
.icon-apple:before { content: '\e828'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-transgender:before { content: '\f224'; } /* '' */